* {
    margin: 0px;
    padding: 0px;
}

/* banner related style */

.banner-container{
    width: 1920px;
    height: 810px;  
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.banner-text{
    max-width: 800px;
    padding: 50px;
    margin-bottom: 20px;
    margin-left: 200px;
}

.banner-title{
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 20px;
}

.banner-description{
    font-size: 20px;
    width: 580px;
    margin-bottom: 20px;
}

.banner-img{
    width: 300px;
    padding: 200px;
    margin-right: 230px;
}

.btn{
    background-color: #E55473;
    padding: 15px 20px;
    color: white;
    border: none;
    border-radius: 5px;
}

/* deal section style */

.deal-container{
    display: flex;
    background: rgba(229, 84, 115, 0.10);
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.deal-content{
    text-align: center;
    padding-bottom: 20px;
}

.deal-title{
    font-size: 28px;
    margin-bottom: 10px;
}

.primary-color{
    color: #E55473;
}

.deal-description{
    width: 430px;
    text-align: center;
    margin-bottom: 20px;
}

.deal-img{
    width: 318px;
    height: 420px;
}

/* Social media related style */

.social-links{
    text-align: center;
    margin-top: 20px;
    width: 80%;
    margin: auto;
}

.social-description{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
}

.social-images{
    width: 250px;
    height: 290px;
}

.social-media-images{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-img{
    width: 100%;
}